div.dialog-ico(aria-label='Send funds')
    form(name='$ctrl.transferForm')
        md-toolbar
            .md-toolbar-tools
                h2 Buy MOOSE
                span(flex='')
                md-button.md-icon-button(ng-click='$ctrl.$mdDialog.cancel()', aria-label='Close dialog')
                    i.material-icons close
        md-dialog-content
            .md-dialog-content
                div
                    md-input-container.md-block
                        label Buy MOOSE with
                        md-select.currency(name='currency', ng-model='$ctrl.currency.value', ng-disabled='$ctrl.loading')
                            md-option(value='-- Select payment currency --', selected=true) -- Select payment currency --
                            md-option(ng-repeat="currencies in $ctrl.getCurrencies()", value='{{currencies.value}}') {{currencies.label}}
                    md-input-container.md-block(ng-if='$ctrl.currency.value != "-- Select payment currency --"')
                        label You send transactions from wallet address. (Please do NOT send any transactions directly from exchanges)
                        input(type='text', name='from', ng-model='$ctrl.from.value')
                    div.ico-pay(layout="row" ng-if='$ctrl.currency.value != "-- Select payment currency --" && $ctrl.from.value')
                        div(flex="50" ng-if='$ctrl.from.value')
                            md-input-container.md-block
                                label Please send your transactions to address:
                                input.payment(type='text', name='payment', ng-model='$ctrl.payment.value', ng-disabled='true')
                        div(flex="20" ng-if='$ctrl.payment.value')
                            md-button.md-primary(ngclipboard, ng-disabled="!$ctrl.payment.value", data-clipboard-text='{{$ctrl.payment.value}}') {{ 'Copy to clipboard'}}
                        div.qr(flex="30" ng-if='$ctrl.payment.value')
                            a(ng-if='$ctrl.currency.value === "btc"' ng-href='{{$ctrl.url}}', target="_blank")
                                qr(text='$ctrl.url', size='230', type-number="4", image='true')
                            a(ng-if='$ctrl.currency.value != "btc"', ngclipboard, data-clipboard-text='{{$ctrl.payment.value}}')
                                qr(text='$ctrl.payment.value', size='230', type-number="4", image='true')
        md-dialog-actions(layout='row')
            span.tos(ng-disabled='$ctrl.loading' ) When sending money to any address you will agree to the &nbsp;
                a(ng-href="https://www.moosecoin.io/tos", target="_blank") Terms of Service
            md-button.md-secondary(ng-disabled='$ctrl.loading', ng-click='$ctrl.cancel()') {{ 'Cancel' }}